.above-arrow {
  display: flex;
  justify-content: end;
  align-items: center;
}
.temp-arrow {
  position: sticky;
  top: 70vh;
  z-index: 20;
}
.arrow {
  position: relative;
  right: 1.5rem;
  cursor: pointer;
}
